
// ###### FONTS STYLE
$ui: 'Segoe UI', sans-serif;
$ui-medium: 'Segoe UI Medium', sans-serif;
$lg: "Louis George Caf", sans-serif;
$lg-bold: "Louis George Caf Bold", sans-serif;
$indie: "Indie Flower", cursive;
$cs: "Coming Soon", cursive;

// ###### COLORS USE
$bg-color: #252525;
$dark: #202020;
$blue-main: #4758fc;
$blue-about: #4356ca;
$snow: #ffffff;

// ######### MEDIA QUERY'S
@mixin tabletBig {
  @media only screen and (max-width: 1280px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}
@mixin tabletSmall {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: 720px) {
    @content;
  }
}
@mixin mobileSmall {
  @media only screen and (max-width: 359px) {
    @content;
  }
}