
@import '../../styles/variables';

.home-wrapper {
  height: calc(100% - 100px);
  @include tabletSmall {
    flex-direction: column;
    height: 100%;
  }
  .base-title {
    line-height: 1.6;
    margin: 6rem 0 3rem;
    letter-spacing: 10px;
  }
}
.name-container {
  max-width: 450px;
  width: 100%;
  .tag-color {
    font-size: 21px;
    margin-bottom: 3rem;
    font-family: $lg;
    letter-spacing: 1.5px;
    font-weight: normal;
  }
}

// ######## PHOTO DRAWING STYLIZATION
#app {
  width: 60%;
  overflow: hidden;
  align-self: flex-end;
  margin-top: 40px;
  @include tabletSmall {
    width: 100%;
  }
}
.drawCanvas {
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 785px;
  padding-bottom: 80%;
  position: relative;
  width: 100%;
  .illustrationImage {
    display: none;
    width: 100%
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
  }
}
